@model LibraryWebApp.Models.ViewModels.EditDetailsViewModel
@{
    ViewBag.Title = "EditDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container" class="container">
    <div class="row bg-primary">
        <div class="text-center col-sm-12">
            <h3>Edit Your Details</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("EditDetails", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group required">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "alert-danger text-danger small" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "alert-danger text-danger small" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "alert-danger text-danger small" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.Gender, true)<span>Male</span>
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.Gender, false)<span>Female</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "alert-danger text-danger small" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "alert-danger text-danger small" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label", style = "cursor: pointer;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Country, "", new { @class = "alert-danger text-danger small" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section styles
{
    <style>
        .form-group.required .control-label:after {
            content: "*";
            font-size: 16px;
            color: red;
        }
    </style>
}