@model LibraryWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "IndexMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="a">Welcome to Members section</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 id="b">Your personal data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="dt">Password:</dt>
        <dd class="dd">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt class="dt">User: </dt>
        <dd class="dd">@User.Identity.Name</dd>
        <dt class="dt">User Role:</dt>
        <dd class="dd">
            === Member ===
        </dd>
        <dt>Points:</dt>
        @User

    </dl>
</div>

<div id="popModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Membership expiring</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">Your membership is expiring on @DateTime.Now</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
   
    
    
    <script type="text/javascript">
        $(function () { $("#popModal").modal('show'); });
    </script>
}
@section styles {
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/IndexMembersCss.css")" />
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />



}


