@model LibraryWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 id="a">Welcome to users section</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 id="b">Your personal data</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt class="dt">Password:</dt>
        <dd class="dd">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt class="dt">User: </dt>
        <dd id="username" class="dd">@User.Identity.Name</dd>
        <dt class="dt">User Role:</dt>
        <dd class="dd">
            === User ===
        </dd>
        
    </dl>

    <div id="divpopup" style="display: none">
        <p>
            Do you accept following rules to become a member:
            <ul>
                <li>sdfdsffsdsdffsdfds</li>
                <li>asddsadsadsasdasdads</li>
                <li>asddddddddddsaasd</li>
            </ul>
        </p>
    </div>
</div>

<button id="btnclick" class="btn btn-primary" type="submit">Become a member</button>



@section styles {
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/IndexUserCss.css")"/>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css"/>
}

@section scripts {
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#btnclick").click(function() {
                $("#divpopup").dialog({
                    modal: true,
                    resizable: false,
                    draggable: false,
                    title: "Become member",
                    width: 400,
                    height: 350,
                    buttons: {
                        Accept:
                            function () {
                                url = "/Account/AddToRoleMember?username=" + $("#username").html();
                                console.log(url);
                                window.location = url;
                                $(this).dialog("close");
                            },

                        Close:
                            function() {
                                $(this).dialog("close");
                            }
                    }

                });

            });

        });
    </script>
}