@model LibraryWebApp.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">    
    <div class="row bg-primary">
        <div class="col-sm-12 text-center">
            <h3>Users section</h3>
        </div>
    </div>
    
    @if (ViewBag.StatusMessage != null)
    {
        <br />
        <div class="alert alert-success text-success">@ViewBag.StatusMessage</div>
    }
    <br />
    <h4 id="b">Your personal data</h4>
    <hr/>
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-10 col-lg-10">
            <dl class="dl-horizontal">
                <dt class="dt">User: </dt>
                <dd id="username" class="dd">@User.Identity.Name</dd>
                <dt class="dt">User Role:</dt>
                <dd class="dd">
                    === User ===
                </dd>
            </dl>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <button id="btnclick" class="btn btn-info" type="button">Become a member</button>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#changeDetails">Personal details</a>
        </li>
        <li>
            <a data-toggle="tab" href="#purchasedBooks">Purchased Books</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="changeDetails" class="tab-pane fade in active">
            <br/>
            @Html.ActionLink("Change password", "ChangePassword", "Manage", null, new {@class = "btn btn-primary"})
            @Html.ActionLink("Edit details", "EditDetails", "Manage", new { ReturnUrl = "/Manage" }, new {@class = "btn btn-primary"})
            <br/>
            <br/>

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.User.FirstName, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.FirstName, new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.LastName, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.LastName, new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Age, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.Age, new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Gender, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBox("Gender", Model.User.Gender ? "Male" : "Female", new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Address, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.Address, new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.City, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.City, new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Country, new {@class = "col-md-2 control-label", style = "cursor: pointer;"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.Country, new {@class = "form-control", @readonly = true, style = "cursor: not-allowed;"})
                    </div>
                </div>
            </div>
        </div>
        <div id="purchasedBooks" class="tab-pane fade in">
            <br/>
            <div class="table-responsive">
                <table id="table" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Genre
                        </th>
                        <th>
                            Pages
                        </th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.PurchasedBooks)
                    {
                        <tr>
                            <td>
                                <img src="@item.CoverURL" style="max-width: 200px; max-height: 200px"/>
                            </td>
                            <td>
                                @Html.ActionLink(item.Title, "Details", "Books", new { id = item.Id, ReturnUrl = "/Manage" }, new {})
                            </td>
                            <td>
                                @item.Genre.Name
                            </td>
                            <td>
                                @item.Pages
                            </td>
                            <td class="book-price">
                                @item.Price
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="divpopup">
    <p>
        Do you accept the following rules to become a member:
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </li>
            <li>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam 
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </li>
            <li>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in 
                culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </li>
        </ul>
    </p>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/IndexUserCss.css")" />
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/jquery-ui.css")" />
}

@section scripts {
    <script type="text/javascript" src="@Href("~/Scripts/jquery-ui.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dialog = $("#divpopup").dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                draggable: false,
                title: "Become member",
                width: 400,
                height: 600,
                buttons: {
                    Accept:
                        function () {
                            url = "/Account/AddToRoleMember?username=" + $("#username").html();
                            window.location = url;
                            dialog.dialog("close");
                        },
                    Close:
                        function () {
                            dialog.dialog("close");
                        }
                }
            });

            $("#btnclick").click(function () {
                dialog.dialog("open");
            });

            $("#table").DataTable();

            $(".book-price").each(function () {
                var price = $(this).text();
                $(this).text(new Intl.NumberFormat('en-US', { style: "currency", currency: "USD" })
                    .format(price));
            });
        });
    </script>
}