@model LibraryWebApp.Models.ViewModels.AddUserToRoleViewModel
@{
    ViewBag.Title = "AddToRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div  class="col-sm-12 text-center">
            <h3>Add User To Role</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("AddUserToRole", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {@class = "form-horizontal"}))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        <input list="users-list" id="UserName" name="UserName" class="form-control" />
                        <datalist id="users-list">
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.UserName" />
                            }
                        </datalist>
                        @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "alert-danger text-danger small"})
                        @if (ViewBag.Error != null)
                        {
                            <span class="alert-danger text-danger small">@ViewBag.Error</span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedRole, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.SelectedRole, new SelectList(Model.Roles), new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add to role" class="btn btn-primary"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>