@model LibraryWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>
        <b>General Details:</b>
    </h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger alert-danger small" })
            @if (ViewBag.UserNameExists != null)
            {
                <span class="alert-danger text-danger small">@ViewBag.UserNameExists</span>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger alert-danger" })
            @if (ViewBag.EmailExists != null)
            {
                <span class="alert-danger text-danger small">@ViewBag.EmailExists</span>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger alert-danger small" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger alert-danger small" })
        </div>
    </div>

    <hr style="height: 1px; background-color: lightblue; color: lightblue" />
    <h3>
        <b>Personal Details:</b>
    </h3>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger alert-danger small" })
        </div>
    </div><div class="form-group">
              @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
              <div class="col-md-10">
                  @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger alert-danger small" })
              </div>
          </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger alert-danger small" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.Gender, true, new { @checked = "true" })<span>Male</span>
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.Gender, false)<span>Female</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger alert-danger small" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger alert-danger small" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label", style = "cursor: pointer" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger alert-danger small" })
            <div>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.IsMember, new { @checked = "true" })
                    <span class="text-info">Do you want to become our member?</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}