@model IEnumerable<LibraryWebApp.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger js-delete" })
            </td>
        </tr>
    }

</table>


<div id="dialog">
    <p class="alert alert-danger text-danger">
        <span class="glyphicon glyphicon-alert"></span>
        <span>Are you sure you want to delete this item?</span>
    </p>
</div>


@section styles
{

    <link rel="stylesheet" type="text/css" href="@Href("~/Content/jquery-ui.css")" />
}

@section scripts{

    <script type="text/javascript" src="@Href("~/Scripts/jquery-ui.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var dialog = $("#dialog").dialog({
                resizable: false,
                draggable: false,
                autoOpen: false,
                width: 400,
                modal: true,
                title: "Delete confirmation",
                buttons: {
                    Yes: function () {
                        var url = button.attr("href");
                        window.location = url;
                        dialog.dialog("close");
                    },
                    No: function () {
                        dialog.dialog("close");
                    }
                }
            });

            $("body").on("click", "a.js-delete", function (event) {
                event.preventDefault();
                button = $(this);
                dialog.dialog("open");
            });
        });

    </script>
}