@model LibraryWebApp.Models.Publisher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div class="col-sm-12 text-center">
            <h3>@ViewBag.Title for @Model.Name</h3>
        </div>
    </div>

    <br/>
    

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <p>@Model.Name is located in <strong>@Model.Country</strong> near the <strong>@Model.City</strong></p>
            <p>You can contact them on <strong>@Model.PhoneNumber</strong> or visit their studio which can be found on <strong>@Model.Address</strong></p>
        </div>
    </div>

    <br />
    <div class="row">
        
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
            <h4>Short history for @Model.Name</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-left">
            <p>
                Praesent sit amet rhoncus neque, ut maximus urna. Nam fermentum elit ante. Mauris laoreet nisi ligula, at dictum nibh lobortis id. In scelerisque congue eros, vel pellentesque nisi ullamcorper in. Quisque pharetra mauris non ultricies dignissim. Curabitur odio arcu, tristique a egestas vitae, iaculis sit amet orci. Aenean eget orci posuere nulla interdum suscipit. Donec pharetra purus ut tellus venenatis laoreet. Donec pellentesque massa sit amet urna commodo, eu ullamcorper purus luctus. Sed orci ligula, finibus sit amet congue a, suscipit eu lorem. Nunc elementum pretium felis et lacinia. Aliquam erat volutpat.
            </p>
            <hr />
            <p>
                Vestibulum sollicitudin purus eget quam consequat, lobortis venenatis nisl ullamcorper. Donec ac leo molestie, dapibus sapien id, laoreet dui. Vestibulum ornare consectetur dui ut venenatis. Nulla quis feugiat odio. In orci dui, dapibus quis ornare id, sodales in justo. Pellentesque non metus vitae sapien dapibus hendrerit ut tristique mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque quis dictum urna. Donec id posuere dui, in iaculis nibh. Morbi vitae ultrices magna. Morbi vel nibh ullamcorper, feugiat sem eget, consectetur tortor. Etiam sed lectus orci. Pellentesque eget dolor varius, tempor felis ac, luctus nunc. Nullam vestibulum nulla elit, sed venenatis diam vestibulum at. Curabitur in massa ante.
            </p>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
            <h4>Books published by @Model.Name</h4>
        </div>
    </div>


    
</div>