@model LibraryWebApp.Models.Publisher

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div class="col-sm-12 text-center">
            <h3>Edit</h3>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-8">

            @using (Html.BeginForm("Edit", "Publishers", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group required">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "cursor: pointer;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger alert-danger small" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2", style = "cursor: pointer;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger alert-danger small" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2", style = "cursor: pointer;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger alert-danger small" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2", style = "cursor: pointer;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger alert-danger small" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2", style = "cursor: pointer;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger alert-danger small" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section styles
{
    <style>
        .form-group.required .control-label:after {
            content: "*";
            font-size: 16px;
            color: red;
        }
    </style>
}