@using LibraryWebApp.Models
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/ShoppingCart" title="Shopping bag">
                    <span class="glyphicon glyphicon-shopping-cart"></span><span id="cart-items-count" data-cart-count="@ShoppingCart.GetCard(Context).GetCartItems().Count" class="badge"></span>
                    @if (ShoppingCart.GetCard(Context).GetCartItems().Count > 0)
                    {
                        <span class="message">Go to checkout</span>
                    }
                    else
                    {
                        <span  class="message">Shopping bag is empty</span>
                    }
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                    @User.Identity.Name
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("View profile", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}