@model LibraryWebApp.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>
@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var cartItem in Model.CartItems)
        {
            <tr>
                <td>@Html.ActionLink(cartItem.Book.Title, "Details", "Books", new {id = cartItem.BookID}, new {})</td>
                <td id="item-quantity">@cartItem.Count</td>
                <td id="item-price" data-book-price="@cartItem.Book.Price"></td>
                <td>
                    <button class="btn btn-danger js-delete" data-book-id="@cartItem.BookID">Remove Item</button>
                </td>
            </tr>
        }
        <tr>
            <td>

            </td>
            <td>
            </td>
            <td class="text-right">
                Total
            </td>
            <td id="cart-total">
                $@Model.CartTotal
            </td>
        </tr>
        </tbody>
    </table>
}
<div id="no-cart-items">
    <h4 class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <span class="text-danger">No items in your shopping bag!</span>
    </h4>
</div>

@section scripts {
    <script type="text/javascript">
        var count = @Model.CartItems.Count;

        $(document).ready(function () {
            if (count === 0)
                $("#no-cart-items").show();
            else
                $("#no-cart-items").hide();

            var price = $("#item-price").attr("data-book-price");
            var quantity = $("#item-quantity").text();
            $("#item-price").text(
                new Intl.NumberFormat('en-US', { style: "currency", currency: "USD" })
                    .format(quantity * price));

            $("td .js-delete").on("click",
                function() {
                    var button = $(this);
                    var bookId = button.attr("data-book-id");

                    $.post("/ShoppingCart/RemoveFromCart",
                        { "id": bookId },
                        function(response) {
                            console.log(response);
                            if (response.ItemCount === 0) {
                                var parent = button.parents("tr");
                                $(parent).fadeOut("slow");
                            } else {

                                button.parent().siblings("#item-quantity").text(response.ItemCount);
                                var price = button.parent().siblings("#item-price").attr("data-book-price");
                                button.parent().siblings("#item-price").text(
                                    new Intl.NumberFormat('en-US', { style: "currency", currency: "USD" })
                                    .format(response.ItemCount * price));
                            }

                            $('#cart-total')
                                .text(new Intl.NumberFormat('en-US', { style: "currency", currency: "USD" })
                                    .format(response.CartTotal));

                            if (response.CartCount < 1) {
                                $("table").hide();
                                $("#no-cart-items").show();
                            } else {
                                $("table").show();
                                $("#no-cart-items").hide();
                            }

                            $("#cart-items-count").text(response.CartCount);
                        });
                });
        });
    </script>
}