@model LibraryWebApp.Models.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div class="col-sm-12 text-center">
            <h3>Shopping Bag <small style="color: beige !important;">(<span id="items-count">@Model.CartItems.Count</span>)</small></h3>
        </div>
    </div>
    
    <br />

    @if (Model.CartItems.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th colspan="2">Total</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var cartItem in Model.CartItems)
                {
                    <tr>
                        <td>
                            <img src="@cartItem.Book.CoverURL" class="img-responsive" style="max-height: 200px; max-width: 200px"/>
                        </td>
                        <td>@Html.ActionLink(cartItem.Book.Title, "Details", "Books", new {id = cartItem.BookID}, new {})</td>
                        <td class="item-quantity">@cartItem.Count</td>
                        <td class="item-price" data-book-price="@cartItem.Book.Price"></td>
                        <td class="item-total"></td>
                        <td>
                            <button class="btn btn-danger btn-sm js-delete" data-book-id="@cartItem.BookID">Remove Item</button>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-right" colspan="4">
                        Total:<br/>
                        Discount:<br/>
                        Order Total:
                    </td>
                    <td id="cart-total" data-cart-total="@Model.CartTotal" colspan="2">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <span id="total"></span><br/>
                            <span id="discount"></span><br/>
                            <span id="order-total"></span>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                            @Html.ActionLink("Go to Checkout", "ShippingAndPayment", "Checkout", new {}, new {@class = "btn btn-sm btn-info", id = "button"})
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    }
    <div id="no-cart-items">
        <h4 class="alert alert-danger">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span class="text-danger">No items in your shopping bag!</span>
        </h4>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var count = @Model.CartItems.Count;
        var points = @Model.Points;
        var discount = calculateDiscount(points);

        function calculateDiscount(points) {
            if (points < 150)
                return 0;
            if (points >= 150 && points <= 250)
                return 5;
            if (points >= 251 && points <= 350)
                return 6;
            if (points >= 351 && points <= 450)
                return 7;
            if (points >= 451 && points <= 550)
                return 8;
            if (points >= 551 && points <= 650)
                return 9;
            if (points >= 651 && points <= 750)
                return 10;
            if (points >= 751 && points <= 850)
                return 11;
            if (points >= 851 && points <= 950)
                return 12;
            if (points >= 951 && points <= 1050)
                return 13;
            if (points >= 1051 && points <= 1150)
                return 14;
            return 15;
        }

        $(document).ready(function() {
            var formatter = new Intl.NumberFormat('en-US', { style: "currency", currency: "USD" });
            if (count === 0)
                $("#no-cart-items").show();
            else
                $("#no-cart-items").hide();

            $("td.item-price").each(function() {
                var price = $(this).attr("data-book-price");
                $(this).text(formatter.format(price));
            });

            $("td.item-total").each(function() {
                var price = $(this).siblings(".item-price").attr("data-book-price");
                var quantity = $(this).siblings(".item-quantity").text();
                $(this).text(formatter.format(price * quantity));
            });

            var total = $("td#cart-total").attr("data-cart-total");
            $("span#total").text(formatter.format(total));

            if (discount !== 0) {
                $("span#discount").text(formatter.format((discount / 100) * total));
                $("span#order-total").text(formatter.format(total - ((discount / 100) * total)));
            } else {
                $("span#discount").text(formatter.format(discount));
                $("span#order-total").text(formatter.format(total));
            }

            $("td .js-delete").on("click",
                function() {
                    var button = $(this);
                    var bookId = button.attr("data-book-id");

                    $.post("/ShoppingCart/RemoveFromCart",
                        { "id": bookId },
                        function(response) {
                            if (response.ItemCount === 0) {
                                var parent = button.parents("tr");
                                $(parent).fadeOut("slow");
                            } else {
                                button.parent().siblings(".item-quantity").text(response.ItemCount);
                                var price = button.parent().siblings(".item-price").attr("data-book-price");
                                button.parent().siblings(".item-total")
                                    .text(formatter.format(response.ItemCount * price));
                            }

                            $("span#total")
                                .text(formatter.format(response.CartTotal));

                            $("span#order-total")
                                .text(formatter.format(response.CartTotal - ((discount / 100) * response.CartTotal)));

                            if (response.CartCount < 1) {
                                $("table, #button").hide();
                                $("#no-cart-items").show();
                            } else {
                                $("table, #button").show();
                                $("#no-cart-items").hide();
                            }

                            $("#cart-items-count").text(response.CartCount);

                            $("#items-count").text(response.CartCount);

                            if (response.CartCount === 0)
                                $("span.message").text("Shopping bag is empty");
                        });
                });
        });
    </script>
}