@model LibraryWebApp.Models.BookDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="bdt" class="text-center">Details</h2>

@Html.Hidden("IsAuthenticated", Request.IsAuthenticated)

<div id="cent">
    <h4 id="hd">Book</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt class="dt" >
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd class="dd">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.Book.Pages)
        </dt>

        <dd class="dd">
            @Html.DisplayFor(model => model.Book.Pages)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.Book.Quantity)
        </dt>

        <dd class="dd">
            @Html.DisplayFor(model => model.Book.Quantity)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.Book.CoverURL)
        </dt>

        <dd class="dd">
            <img src="@Model.Book.CoverURL" style="max-height: 200px; max-width: 200px" />
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.Book.PublishPlace)
        </dt>

        <dd class="dd">
            @Html.DisplayFor(model => model.Book.PublishPlace)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.Book.PublishDate)
        </dt>

        <dd class="dd">
            @Html.DisplayFor(model => model.Book.PublishDate)
        </dd>
        @if (Model.Book.Quantity > 0)
        {
            <dd>
                <button type="button" class="btn btn-primary js-add-to-cart" data-book-id="@Model.Book.Id">Add to cart</button>
            </dd>
        }
        else
        {
            <dd>
                <button type="button" class="btn btn-primary" title="Out of stock" disabled>Add to cart</button>
            </dd>
        }
       
    </dl>
</div>

<span id="recomended" class="text-center">You might also want to read: </span>

<div id="myCarousel" class="carousel slide" >
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@Model.Book.CoverURL" class="center-block" />
           
          </div>
        
        <div class="item">
          
            @foreach (var book in Model.Books)
            {
           <a href="/Books/Details/@book.Id"><img src="@book.CoverURL" class="center-block" /></a><link />
            }
                
          
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book.Id }) |

    @Html.ActionLink("Back to List", "Index")

    @section scripts {
        <link rel="stylesheet" type="text/css" href="@Href("~/Content/BookDetailsCss.css")" />
        <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
        <script type="text/javascript">
            var bookCount = @Model.Book.Quantity;
            var bookId = @Model.Book.Id;

            $(document).ready(function() {
                $(".js-add-to-cart").on("click",
                    function() {
                        if ($("#IsAuthenticated").attr("value") === "False") {
                            document.location = "/Account/Login?ReturnUrl=%2FBooks/Details/" + bookId;
                            return;
                        }

                        var button = $(this);
                        bookId = button.attr("data-book-id");

                        $.post("/ShoppingCart/AddToCart",
                            { "id": bookId },
                            function(response) {
                                console.log(response);
                                $("#cart-items-count").text(response.CartCount);
                                $(".message").text("Go to checkout");
                            });
                        bookCount--;

                        if (bookCount === 0) {
                            $(".js-add-to-cart").prop("disabled", true);
                            $(".js-add-to-cart").prop("title", "Out of stock");
                        }
                    });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.carousel').carousel({
                    interval: 4200,
                    animation: 3000,
                    auto: 10,
                    scroll: -1,
                    visible: 3,
                    wrap: 'circular',
                    setupCallback: scrollCheck,
                

                })
            });
        </script>


    }

</p>