@model LibraryWebApp.Models.BookDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Hidden("IsAuthenticated", Request.IsAuthenticated)


<div id="container" class="container" style="height: 800px">

    <div class="row bg-primary text-center" style="height: 50px;">
        <h2>Book Details</h2>
    </div>
    <br />
   
    <p><strong>@Model.Book.Quantity editions</strong> of @Model.Book.Title found in the catalog.
    <a href="/Books/Edit/@Model.Book.Id">Add another edition?</a>
    </p>

    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2" style="background-color:yellow;">
            <img class="img-responsive" src="@Model.Book.CoverURL" />
        </div>
       
        <div class="col-sm-5 col-md-6 col-lg-7" style="background-color:pink;">
            <h4>@Model.Book.Title</h4>
            @foreach (var item in Model.Book.Authors) {
            <p>by <a href="/Authors/Details/@item.Id">@item.Name</a></p>
            }
           
        <p>Published in <a href="">@Model.Book.PublishPlace</a></p>
            
            <h4>The physical object</h4>
            <p>Number of pages: @Model.Book.Pages</p>
            <p>Publish date: @Model.Book.PublishDate</p>
            <br />
            <a href="/Books/Edit/@Model.Book.Id"><button type="submit" class="btn btn-primary">Edit</button></a>
        </div>
       
        <div class="col-sm-5 col-md-3 col-lg-3" style="background-color:yellow;">
            
            <div id="nav" style="border: 2px dotted gray; height: 300px; width: 227px;margin-left:-7%;">
                <p class="text-center"><strong>Prefer this physical book?</strong></p>
                <p class="text-center"><a href="">Check nearby libaries</a></p>
                <hr />
                <p class="text-center"><strong>You can find this book also on:</strong></p>
                <p class="text-center"><a href="">Amazon</a></p>
                <p class="text-center"><a href="">Books</a></p>
                <hr />
                <p class="text-center"><strong>Share this book:</strong></p>
                <div id="social" class="text-center">
                <a href="http://www.facebook.com/"> <img src="/images/facebook.png"></a>
                <a href="http://www.linkedin.com/"> <img src="/images/linkedin.png"></a>
                <a href="http://twitter.com/"> <img src="/images/twitter.png"></a>
                </div>
            </div>
        </div>
    </div>



</div>





























<div id="btn">

    @if (Model.Book.Quantity > 0)
    {

        <button type="button" class="btn btn-primary js-add-to-cart" data-book-id="@Model.Book.Id">Add to cart</button>
    }
    else
    {
        <button type="button" class="btn btn-primary " title="Out of stock" disabled>Add to cart</button>
    }


</div>

<p>

    @section scripts {

        <link rel="stylesheet" type="text/css" href="@Href("~/Content/BookDetailsCss.css")" />
        <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
        <script type="text/javascript">
            var bookCount = @Model.Book.Quantity;
            var bookId = @Model.Book.Id;

            $(document).ready(function() {
                $(".js-add-to-cart").on("click",
                    function() {
                        if ($("#IsAuthenticated").attr("value") === "False") {
                            document.location = "/Account/Login?ReturnUrl=%2FBooks/Details/" + bookId;
                            return;
                        }

                        var button = $(this);
                        bookId = button.attr("data-book-id");

                        $.post("/ShoppingCart/AddToCart",
                            { "id": bookId },
                            function(response) {
                                console.log(response);
                                $("#cart-items-count").text(response.CartCount);
                                $(".message").text("Go to checkout");
                            });
                        bookCount--;

                        if (bookCount === 0) {
                            $(".js-add-to-cart").prop("disabled", true);
                            $(".js-add-to-cart").prop("title", "Out of stock");
                        }
                    });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.carousel').carousel({
                    interval: 4200,
                    animation: 3000,
                    auto: 10,
                    scroll: 1,
                    visible: 3,
                    wrap: 'circular',
                    setupCallback: scrollCheck,


                })
            });
        </script>


    }

</p>