@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>

        <th>
            @Html.DisplayName("Author")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <img src="@item.CoverURL" style="max-width:200px; max-height:200px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @if (item.Authors.Count == 0)
            {
                <span class="alert-warning">This book does not have Author!</span>
            }
            else
            {
                <ul class="list-group list-unstyled">
                    @foreach (var author in item.Authors)
                    {
                        <li class="list-group-item">@author.Name</li>
                    }
                </ul>
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
