@model LibraryWebApp.Models.ViewModels.AuthorDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="container">

    <div class="row bg-primary text-center">
        <div class="col-sm-12">
            <h2>@Model.Author.Name</h2>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2">
            <img class="img-responsive" src="@Model.Author.ImageURL">
        </div>

        <div class="col-sm-10 col-md-9 col-lg-10 text-left">
            <p class="text">
                Sed vehicula, enim sollicitudin consectetur auctor, nibh ante finibus turpis, eleifend ullamcorper
                ipsum libero eu sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget rutrum
                nisl. Integer volutpat magna diam, id accumsan mi tempor maximus. Donec gravida felis id ipsum aliquet,
                eu venenatis dolor malesuada. Sed aliquam risus vitae nisl malesuada maximus. Vestibulum aliquet justo
                elit, vel ullamcorper erat commodo sed. Pellentesque a arcu vel felis volutpat bibendum. Suspendisse
                pellentesque nisi a erat fermentum, vitae fringilla quam fringilla.
            </p>
            <hr />
            <p class="text">
                Donec facilisis mi sit amet dictum auctor. Sed ultricies elit risus, et eleifend risus scelerisque a.
                Sed eu pharetra odio. Integer aliquam erat ex, a fermentum sem pellentesque vel. Donec auctor velit sed
                consequat venenatis.
            </p>
            <hr />
            <p class="text">
                Sed scelerisque tellus turpis, ut porta turpis bibendum eget. Aliquam sed tincidunt mauris. Vestibulum
                fermentum faucibus diam, a congue quam rhoncus a. Maecenas luctus fermentum diam a consequat. Sed
                lacinia condimentum sollicitudin. Nullam turpis libero, vestibulum ac ultricies et, egestas quis neque.
                Morbi id nisl in ante auctor porttitor. Nam ac eros sed libero posuere dictum nec id libero. Integer leo
                augue, lobortis vitae hendrerit eu, laoreet nec purus. Vivamus laoreet purus accumsan justo fringilla,
                ut rutrum nunc pellentesque. Vivamus vestibulum maximus lorem ut tempor. Proin quis lectus et dolor
                luctus semper ullamcorper nec ex.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-2 text-left">
            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
            {
                @Html.ActionLink("Edit", "Edit", "Authors", new { id = Model.Author.Id, ReturnUrl = Html.Encode($"/Authors/Details/{Model.Author.Id}") }, new { @class = "btn btn-warning" })
            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", "Authors", new { id = Model.Author.Id, ReturnUrl = ViewBag.ReturnUrl }, new { @class = "btn btn-danger js-delete" })
            }
        </div>
    </div>

    @if (Model.BooksByAuthor.Count != 0)
    {
        <h4 style="color: firebrick">Books from @Model.Author.Name</h4>

        <div id="genreCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.BooksByAuthor.Count; ++i)
                {
                    if (i == 0)
                    {
                        <li data-target="#genreCarousel" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#genreCarousel" data-slide-to="@i"></li>
                    }
                }
            </ol>

            <div class="carousel-inner" role="listbox" style="background-color: gray">
                @for (int i = 0; i < Model.BooksByAuthor.Count; ++i)
                {
                    if (i == 0)
                    {
                        <div class="item active" style="background-color: gray">
                            <a href="/Books/Details/@Model.BooksByAuthor[i].Id?ReturnUrl=@(Html.Encode($"/Authors/Details/{Model.Author.Id}"))">
                                <img src="@Model.BooksByAuthor[i].CoverURL" class="img-responsive img-thumbnail center-block" style="height: 280px"/>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="item" style="background-color: gray">
                            <a href="/Books/Details/@Model.BooksByAuthor[i].Id?ReturnUrl=@(Html.Encode($"/Authors/Details/{Model.Author.Id}"))">
                                <img src="@Model.BooksByAuthor[i].CoverURL" class="img-responsive img-thumbnail center-block" style="height: 280px"/>
                            </a>
                        </div>
                    }
                }

            </div>
            <a class="left carousel-control" href="#genreCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#genreCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
    else
    {
        <h4 class="alert-danger"><span class="text-danger">This author does not have books yet</span></h4>
    }
    <br />

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right">
            @if (ViewBag.ReturnUrl == null)
            {
                @Html.ActionLink("Back to list", "Index", "Books", new { }, new { @class = "btn btn-primary" })
            }
            else
            {
                <a href="@ViewBag.ReturnUrl" class="btn btn-primary">Back to list</a>
            }
        </div>
    </div>
    <br />
</div>

<div id="dialog-delete">
    <p class="alert alert-danger text-danger">
        <span class="glyphicon glyphicon-alert"></span>
        <span>Are you sure you want to delete this item?</span>
    </p>
</div>

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/jquery-ui.css")" />
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/AuthorDetailsCss.css")">
}

@section scripts
{
    <script type="text/javascript" src="@Href("~/Scripts/jquery-ui.js")"></script>

    <script type="text/javascript">
        var booksCount = "@Model.BooksByAuthor.Count";
        var button;

        $(document).ready(function() {
            if (booksCount !== "0") {
                $('.carousel').carousel({
                    visible: 5,
                    animation: 5000,
                    pause: "hover",
                    scroll: 1,
                    wrap: "circular"
                });
            }

            var dialogDelete = $("#dialog-delete").dialog({
                resizable: false,
                draggable: false,
                autoOpen: false,
                width: 400,
                modal: true,
                title: "Delete confirmation",
                buttons: {
                    Yes: function() {
                        var url = button.attr("href");
                        window.location = url;
                        dialogDelete.dialog("close");
                    },
                    No: function() {
                        dialogDelete.dialog("close");
                    }
                }
            });

            $("body").on("click",
                "a.js-delete",
                function(event) {
                    event.preventDefault();
                    button = $(this);
                    dialogDelete.dialog("open");
                });
        });
    </script>
}